*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;

}
main {
    display:flex
}

header {
    text-align: center;
    width:100%;

}
label, p {
  font-size: 30px;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2em;
  border: 1px solid #001b44;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  width:200px;
  height: 100px;
  border-radius: 25px;
  font-size: 22px;
}

.timerdisplay {
    display: block;
    background-color:	#FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
}

#clock {
	width: 300px;
	height: 20
  0px;
	border-radius: 8%;
	background-color: lightgrey;
	margin: auto;
}

.quiz {
  display: block;
  background-color:	#FFFFE0;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 20px;
  width: 80vw;
}


.quiz li {
  padding: 5px 0px;
  border: #48b4ef 2px solid;
  text-align: center;
  border-radius: .4rem;
  list-style: none
}

.quiz.hide {
display:none
}

span {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 60px;
	text-align: center;
	font-size: 40px;
}


.score {
display: block;
background-color:	#FFFFE0;
border: 1px solid #eceff1;
border-radius: 8px;
box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
margin: 60px auto;
padding: 20px;
width: 50%;
}